extends layout

block content
  p Collect Scrap Phase (1)
  div
    img(src='/images/collectscrap.png')
  p Build Phase (2)
  div
    img(src='/images/levelbuy.png')
  p Inject Language Mudules Phase (3)
  div
    img(src='/images/languagephase.png')
  p
    a(href='/') HOME
  if email
    div#login Logged in as #{email}
      span | 
      a.black(href='/logout') Log Out
      span  | 
      a.black(href='/') Home 