doctype html
html
  head
    title= Level
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
    script(src="/javascripts/dictionary.js")
    script(src="/javascripts/alphabetDistribution.js")
    script(src="/javascripts/logic.js")
    script(src="/javascripts/app.js")