extends layout

block content
  h1#next Collect Scrap to Create Language Modules.

  div.wordbox(id="letters")
  div.spacer
    button.hovered(type="button" id="spin") Start
    span.msg(id="msg")
    p
    div.row
      div.word
        span(id="word")
      button.hovered(type="button" id="enter") Enter
    div.row
      div(id="timer")
      button.hovered(type="button" id="clear") Trash
    p
    div.score(id='score')= gameState.scrap
    div.bonus
    p
    div.enter
    
  if email
    div#login Logged in as #{email}
      span | Level #{gameState.level} | Phase #{gameState.phase} | 
      a.black(href='/logout') Log Out
      span  | 
      a.black(href='/') Home
    
  
  
    