extends layout

block content
  h1 Wordgame
  div.wordbox(id="wordbox")
  div.right
    button(type="button" id="spin") Start
    p
      div.score(id='score') 0
  div.word(id="word")
  div.right
    button(type="button" id="enter") Enter