extends layout

block content
  h1 Wordgame
  div.wordbox(id="letters")
  div.word(id="word")
  div(id="timer")
  div.right
    button(type="button" id="spin") Start
    p
      div.score(id='score') 0
    div.enter
      button(type="button" id="enter") Enter
  span.msg(id="msg")
  
    