extends layout

block content
  h1 Wordgame
  div.wordbox(id="wordbox")
  div.right
    button(type="button" id="spin") Start
  div.word(id="word")
  div.right
    button(type="button" id="enter") Enter