#bcanvas {
  position:absolute;
  background-color: transparent;
  z-index: -1;
  background:url('/images/background-main.jpeg')
}

#canvas {
  display: block;
  position; absolute;
  background-color: transparent; 
  z-index: 0;
}

h2 {
  margin-left: 80px;
}
body {
  margin: 0px;
  padding-left: 50px;
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #E6FDF8;
}

.tiles{
  border: 1px solid black;
  height: 35px;
  width: 35px;
  display:inline-block;
  box-sizing: border-box;
  text-align:center;
  font-size:120%;
  overflow:hidden;
}

.fire:hover{
  border: 2px solid black;
}

.spacer {
  height: 35px;
  width: 35px;
  display:inline-block;
  box-sizing: border-box;
  overflow:hidden;
}

.fire {
  display:inline-block;
}