canvas {
  background-color: #D4E09B;
  display: block;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #F6F4D2;
}

.tiles{
  border: 1px solid black;
  height: 35px;
  width: 35px;
  display:inline-block;
  box-sizing: border-box;
}

.sprite {
	background: url('/images/vampires.png') no-repeat -22px -12px;
	width: 49px;
	height: 87px;
}