canvas {
  background-color: #D4E09B;
  display: block;
}

body {
  margin: 0px;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #F6F4D2;
}

.tiles{
  border: 1px solid black;
  height: 35px;
  width: 35px;
  display:inline-block;
  box-sizing: border-box;
  text-align:center;
  font-size:120%;
  overflow:hidden;
}

.spacer {
  height: 35px;
  width: 35px;
  display:inline-block;
  box-sizing: border-box;
  overflow:hidden;
}